* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
  }
  
  .wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #02160b;
  }
  
  .bcgimage{
    width: 100%;
    height: 790px;
    width: 1500px;
    background-image:url("capibara.png");
  }
  .header {
    display: flex;
    justify-content: space-around;
    height: 47px;
  }
  
  .menu{
    text-decoration: none;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  }
  .sign{
    display: flex;
    justify-content: space-around;
  }
  
  .link{
    text-decoration: none;
    color: white;
  }
  
  .links{
    display: inline-block;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .hl{
    display: flex;
  }
  
  .hr{
    display: flex;
    
  }
  
  .logo{
    display: flex;
    align-items: center;
    width: 170px;
    height: 60px;
    justify-content: space-around;
  }
  
  .links_block{
    display: flex;
    width: 580px;
    
    justify-content: space-around;
  }
  
  .menu__links{
    height: 50px;
    width: 120px;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: Transparent;
    color: white;
  }
  
  .hr2{
    display: flex;
    
  }
  
  .link:hover{
    background-color: #FF9900;   
    border-radius: 4px;
    color:white;
    font-size: 30px;
    transition: 0.7s;
  }
  
  .links:active{
    transform:scaleX(-1);
    transition: 0.1s;
  }
  
  .search-icon:hover{
    transform: rotate(720deg);
    transition: 0.7s;
  }
  
  .menu__links:hover{
    transform: translateY(10px);
    transition: 0.8s;
  }
  
  
  .search-icon{
    filter: invert(1);
  }
  
  
  .survival{
    display: flex;
    align-items: flex-end;
    height: 460px;
    width: 395px;
    justify-content: flex-end;
  }
  .survival__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    width: 195px;
    height: 340px;
   
  }
  
  .title{
    color: rgba(205, 99, 38, 1);
    width: 199px;
  }
  
  .text{
    color: white;
    height: 143px;
    width: 349px;
    font-family: Open Sans;
    font-size: 23px;
    text-align: justify;
  }
  
  .donate:hover{
    transform: rotate(720deg);
    transition: 0.7s;
    transform: scale(-1);
  }
  
  .donate:active{
    transform:scaleX(-1);
    transition: 0.1s;
  }
  
  .left{
    
    width: 240px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Donate{
    width: 160px;
  }
  
  .donate{
    font-family: Roboto;
    font-size: 23px;
    height: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: Transparent;
    color: white;
    font-size: 35px;
    width: 200px;
    background: rgba(205, 99, 38, 1);
  }
  
  .wildlife-articles{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #02160b;
  }
  
  
  .wildlife-articles2{
    width: 1500px;
    height: 1168px;
    background: #CCCCCC;
  }
  
  h2{
    font-family: Open Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
    color: #333333;
  
  }
  
  .q2{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: Open Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    height: 50px;
    color: #666666;
  
  }
  
  .top{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
  }
  
  .middle{
    display: flex;
    justify-content: center;
  }
  
  .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 360px;
    width: 1200px ;
  
  }
  
  .image1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(deer.jpg);
    height: 360px;
    width: 300px;
  }
  
  .image2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(squirrel.jpg);
    height: 360px;
    width: 300px;
  }
  
  .image3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 360px;
    width: 300px;
    background-image: url(unknownbird.jpg);
  }
  
  .SVG:hover{
    transform: rotate(720deg);
    transition: 0.7s;
    transform: scale(-1);
  }
  
  .SVG:active{
    transform:scaleX(-1.5);
    transition: 0.1s;
  }
  
  h4 {
    color:white;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  }
  
  small {
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(247, 247, 247, 1);
  }
  
  .textimage {
    margin-bottom: 40px;
  }
  
  .bottom{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .input{
    height: 100px;
    width: 634px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input{
    width: 510px;
    height: 60px;
    border-radius: 2px;
    background: #CCCCCC;
    border-color:#666666;
    border-right-color: #CD6326;
    border-radius: 0px 1% 1% 0px;
  }
  
  h3{
    font-family: Open Sans;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    color: #080808;
  }
  
  .send_button{
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    height: 60px;
    width: 120px;
    background: #CD6326;
    border-color: #CD6326;
    border-radius: 0px 5px 5px 0px;
    color: white;
  }
  
  .null{
    height: 170px;
  }
  
  .wildlife-footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #02160b;
  }
  
  .wildlife-footer2{
    display: flex;
    width: 1500px;
    height: 359px;
    background-image:url("Rektangle.jpg");
  }
  
  .wildlife-footer3{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 359px;
    width: 500px;
  }
  
  .menu2{
    font-size: 32px;
    text-decoration: none;
    font-family: Roboto;;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  }
  
  .logo3{
    width: 155px;
    height: 60px;
  }
  
  .lleft{
    width: 69px;
    height: 60px;
  }
  
  .wildlife-footer4{
    display: flex;
    justify-content: space-between;
    width: 240px;
  }
  
  .wildlife-footer5{
    width: 500px;
    height: 359px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ulLinks{
    width: 460px;
    justify-content: space-between;
    display: flex;
    color: white;
    font-family: Roboto;
    font-size: 32px;
    border-spacing: 100px ;
  }
  
  .wildlife-footer6{
    display: flex;
    width: 500px;
    height: 360px;
    justify-content: center;
  }
  .ulLinks2{
    width: 258px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  
  .llinks:hover{
    transform: rotate(720deg);
    transition: 0.7s;
    transform: scale(-1);
  }
  
  .llinks2:active{
    transform:scaleX(-1.5);
    transition: 0.1s;
  }